<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770793922729-0mqoun8a9io0d9a79t4fsfgd51sn34t9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770793922729-0mqoun8a9io0d9a79t4fsfgd51sn34t9</string>
	<key>API_KEY</key>
	<string>AIzaSyASlzWaiQZwu0dHt2AD1IsstI6FA5HIALI</string>
	<key>GCM_SENDER_ID</key>
	<string>770793922729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.allisonngo.BevvieUI</string>
	<key>PROJECT_ID</key>
	<string>bevvieui</string>
	<key>STORAGE_BUCKET</key>
	<string>bevvieui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770793922729:ios:48d14e13d3b40b12ac49b8</string>
</dict>
</plist>